---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/blog/Hero.astro";
import Tags from "../../components/blog/Tags.astro";
import ListPosts from "../../components/blog/ListPosts.astro";
const pageTitle = "Blog de desarrollo web y tecnología | Carlos Pérez";
const description = "Bienvenidos a mi blog, donde comparto mi pasión por el desarrollo frontend, el diseño web y las últimas tendencias tecnológicas.";
const ogimage ={
    url: "/images/blogimage.webp",
    alt: "Imagen demo del blog."
};
---

<Layout  pageTitle={pageTitle} description={description} ogimage={ogimage}>
   
    <Hero />
    <Tags />
    <div class="px-8 max-sm:px-4">
        <ListPosts />
    </div>

</Layout>
